
#list-social{
	border-top: 1px solid #263547;
	background: #0e1d2f;
	padding: 20px 0px;
}
.social_hide{
	display:none;
}
#list-social #fb_show:hover #fb{
	display:none;
}
#list-social #fb_show:hover #fb_hover{
	display:block;
}
#list-social #youtube_show:hover #youtube{
	display:none;
}
#list-social #youtube_show:hover #youtube_hover{
	display:block;
}
#list-social #instagram_show:hover #instagram{
	display:none;
}
#list-social #instagram_show:hover #instagram_hover{
	display:block;
}
.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
}
footer #list-social ul.list-inline li 
{    
	float: none; 
}
footer #list-social ul.list-inline{ 
  	width: 100%;    
    text-align: center;
 }
footer .container li {
    list-style: none;
    float: none;
}
footer .content-1 h3.info,
footer .content-2 h3.info, 
footer .content-2 h3.info a,
footer h2{
	color: #ffffff;
}
footer h2{
	font-weight: bold;
	font-size: 24px;
}
footer{
	font-family: 'SairaSemiCondensed-Medium', sans-serif;
	background: #031327;
}
footer p{
	color:#ffffff;
}
footer a{
	color:#7e8eaa;
	text-transform: uppercase;
}
footer a:focus{
	color:#7e8eaa;
	text-decoration: none;
}
footer a:hover{
	color:#ff5400;
	text-decoration: none;
}
footer .content-1{
	margin-top:40px;
}
footer .content-1 .marg-top30{
	margin-top:30px;
}
footer .content-1 .marg-top26{
	margin-top:26px;
}
.info{
	text-transform: uppercase;
	font-size:18px;
}
.address{
	margin-top:20px;
	line-height: 1.4;
	padding-right: 15px;
}
.map-left {
	padding-left:10px;
	position: relative;
	top: 20px;
	float: left;
}
img.map-trigger{
	display: inline-block;
	float: left;
}
.show {
	display: inline-block!important;
}
footer .content-1 .list{
	padding-top: 12px;
}
footer .content-1 .list li{
	padding-top: 14px;
}
footer .content-1 .list li a{
	font-size:18px; 
}
footer .content-2{
	margin-top:40px;
}
#facebook-like{
	padding-bottom: 20px;
}
footer #content-map{
	margin-top:40px;
	display:none;
}
footer hr{
	border: 1px solid #263547;
}
footer .content-3{
	padding-bottom: 20px;
}
footer .content-3 p{
	font-size:14px;
	color:#7e8eaa;
	text-transform: uppercase;
}
footer .company-info{
	padding-top: 15px;
}
footer .company-info p{
	margin-bottom: 5px;
}
footer .icon-notify{
    max-width: 200px;
    max-height: 70px;
    display: block;
}
footer .footer-notify{
	padding-left: 30px;
}
footer a[href^=tel] { 
	color: #ffffff; 
}
#logo-bottom{
	padding-bottom: 10px;
}
footer #content-map iframe{
	height: 550px;
	border: 0;
	padding-right: 0px;
}
footer .content-1 .map .pull-left{
	padding-left: 0px;
	margin-top: 0px;
}
footer .fb-custom{
	padding-left: 30px;
	padding-right: 0px;
}
footer .copyright-footer{
	text-align: right;
	padding-right: 0;
}
@media only screen and (max-width: 768px) {
	footer .content-3 p{
		text-align:center;
	}
	footer p.copyright-footer{
		text-align: right;
	}
	#logo-footer{
		margin: 0 auto;
	}
	footer #content-map iframe{
		height: 300px;
	}
	footer a[href^=tel] { 
		color: inherit; 
		text-decoration: none; 
	}
	.info {
    	font-size: 13px;
	}
	footer h2 {
    	font-weight: bold;
    	font-size: 19px;
	}
	footer .content-1 .list li a {
    	font-size: 13px;
	}
	footer .icon-notify{
	    width: 150px;
	    height: 50px;
	}
}
@media only screen and (max-width: 736px){
	.line-down{
		display: none;
	}
	footer .content-1 h3.address{
		text-align: center;
		padding-right: 0px;
	}
	footer .fb-custom{
		padding-left: 15px;
		padding-right: 15px;
	}
	footer .footer-notify{
		padding-left: 15px;
		padding-right: 15px;
	}
	footer #content-map iframe {
		padding-right: 15px;
	}
	footer p.copyright-footer{
		text-align: center;
	}
}
@media only screen and (max-width: 414px){
	footer #content-map iframe{
		height: auto;
	}
	footer h2{
		font-size: 16px;
	}
	footer .content-1 .list li a, .info{
		font-size: 14px;
	}
}
@media only screen and (max-width: 320px){
	footer #content-map iframe{
		height: auto;
	}
	footer h2{
		font-size: 14px;
	}
	footer .content-1 .list li a{
		font-size: 12px;
	}
}