
.dropdown-menu>li{
	float: none;
}
.navbar-nav li.dropdown>a{
	font-size: 18px;
	background: transparent;
	font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 2px;
    color: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-nav li.dropdown>a:focus{
	/* opacity:0; */
	color: #ff5400;
	outline: none;
}
.dropdown-menu>li>a{
	padding: 7px 20px;
    line-height: 20px;
	font-weight: bold;
	color: #7e8eaa;
    
}
#header-nav {
    border-bottom: none;
    height: 70px;
}
nav.navbar {
	max-height: 100%;
}

ul.dropdown-menu>li>a:hover{
	background: transparent;
	color: #ff5400;
	/* background: url("../images/header-star.png") no-repeat scroll 140px center; */
	
}

.dropdown-menu>li>a:focus{
	background: transparent;
}
#header{
	z-index: 4;
    position: relative;
}
.logo-medium{
		display:none;
}

.navbar-nav .dropdown-menu li a{
	color: #7e8eaa;	
	text-transform: uppercase;
}
.bg-icon{
	color: #ff5400;
}
.skip-link.skip-account{
		display: none;
	}
.header-container a{
	font-family: 'SairaSemiCondensed-Medium';
	font-size: 14px;
	color: #7e8eaa;
}

#loginNavbar ul.navbar-nav, #loginNavbar ul.navbar-nav li{
	float:none;
}
.header-top-time a:hover{
	color: #ff5400;
}
.navbar-nav li.custom-user-header{
	margin-left: -36px;
}
.navbar-nav li.hover-user-header a:hover,
.navbar-nav li.hover-user-header a span.name-user-header:hover,
.navbar-nav li.hover-user-header a span.responsive-name-user:hover{
	color: #ff5400;
}
.navbar-nav li.hover-user-header a:hover span{
	color: #7e8eaa;
}
.navbar-nav li.hover-user-header a{
	color: #7e8eaa;
	font-size: 14px;
	z-index: 999;
}
.hover-user-header .responsive-name-user{
	display: none;
}
#header-nav .menu-ul-first{
	left: 200px;
	position: absolute;
}
#header-nav .menu-ul-first li{
	margin-right: 20px;
}
.navbar-nav li.custom-user-header a{
	margin-right: 0;
}
.header-phone a{
	color: #fff;
	font-family: "SairaSemiCondensed-Regular", sans-serif;
	text-decoration: none;
}
/*responsive ipad*/
@media only screen and (width: 1024px){
	.navbar-nav li.dropdown>a {
	    margin-left: 5px;
	    margin-right: 5px;
	}
	.navbar-nav li.dropdown>a[href*="login"] {
	    margin-right: 35px;
	}
}
@media only screen and (min-width: 1024px){
	.header-info {
	    height: 58px;
	}
	.header-container.container{
	    padding-top: 28px;
    }
}
@media only screen and (min-width: 771px){
	#header {
		height: 70px;
	}
	#loginNavbar.collapse ul{
		display:none;
	}
	#header-search{
		display: none;
	}
	.header-search-left {
	    top: -11px;
	}
	.header-search-left>p>a{
		margin-top:0px;
	}

	.logo-large{
		/* margin-top:11px; */
		background: #031327;
	    position: absolute;
	    top: -96px;
	    z-index: 1;
	}
	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	    background: none;
	}
	.navbar-nav li.dropdown a.dropdown-toggle {
		padding-bottom: 9px;
	}
	.navbar-nav li.dropdown:hover a.dropdown-toggle{
		color: #ff5400;
    	border-bottom: 2px solid #ff5400;
	}
	.navbar-nav .dropdown-menu li a{
		color: #7e8eaa;	
		text-transform: uppercase;
	}

	.navbar-nav>li>.dropdown-menu{
	    opacity:0;
	  	-webkit-transform-origin: top;
	  	transform-origin: top;
	  	-webkit-animation-fill-mode: forwards;  
	  	animation-fill-mode: forwards; 
	  	-webkit-transform: scale(1, 0);
	  	display: block; 
	  	transition: all 0.2s linear;
	  	-webkit-transition: all 0.2s linear;
	    width: 180px;
	    background: #031327;
	    
	}
	.navbar-nav .dropdown:hover .dropdown-menu {
		-webkit-transform: scale(1, 1);
	  	transform: scale(1, 1);  
	  	opacity:1;
	  	border-top: solid #7e8eaa 1px;
  	    top: 100%;
	}
	.logo-small{
		display:none;
	}
}
@media only screen and (min-width: 768px) and (max-width: 770px){
	.navbar-nav li.dropdown>a {
	    margin-left: 5px;
	    margin-right: 5px;
	}
	.navbar-nav li.dropdown>a[href*="login"] {
	    margin-right: 35px;
	}
	#loginNavbar.collapse ul{
		display:none;
	}
	#loginNavbar.collapse{
		height: 0px !important;/* vì class collapse của bootstrap có !important  */
	}
	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	    background: none;
	}
	#header-nav .container-fluid .collapse-custom{
		margin-right: -15px;
	}
	.navbar-nav li:hover a{
		color: #ff5400;
	}
	.navbar-nav .dropdown-menu li a{
		color: #7e8eaa;	
	}

	.navbar-nav>li>.dropdown-menu{
		border-top: solid #7e8eaa 1px;
	    width: 180px;
	    background: #031327;
	}
	
	.logo {
		margin-top:13px;
		left: 0px;
	}
	#header-search{
		display: none;
	}
	.logo img{
		height: 126px;
	}
	.logo-large{
		display:none;
	}
	.logo-small{
		display:none;
	}
	.logo-medium{
		display: block;
    	position: relative;
    	width: 100px;
    	background: #031327;
    	bottom: 27px;
	}
	.logo-medium img{
		width: 100%;
	}
	
	.page-header{
		border-bottom:none;
		height: 70px;
	}
	.page-header-container.container{
		height: 100%;
	}
	.col-left.sidebar.col-left-first {
		position: relative;
		bottom: 25px;
	}
	.collapse-custom{
		border-bottom:none;
	}
	.skip-links{
		border:none;
		display: none;
	}
	.hover-user-header .name-user-header{
		display: none;
	}
	.hover-user-header .responsive-name-user{
		display: block;
	}
	#header-nav .menu-ul-first{
		left: 110px;
	}
	#header-nav .menu-ul-first li{
		margin-right: 0;
	}
}

/* Navbar change */
@media only screen and (max-width: 767px) {
	.header-info{
	    display: none;
	}
	.header-phone{
		margin: 0px;
	}
	.icon-nav{
		font-size: 20px;
	}
	.logo-small {
		display:none;
	}
	.logo-large {
		display:none;
	}
	.logo-medium{
		display: block;
		/* left: 38%; */
    	position: relative;
    	width:100px;
    	margin: 0 auto;
    	padding-bottom: 0;
	}

	.logo-medium img{
		width:100px;
	}
	.logo img{
		height: 126px;
	}
	.logo{
		margin-top:2px;
	}
	#dropdown-member{
		display:none;
	}
	.page-header{
		border-bottom:none;
	}
	.navbar-collapse, .skip-content {
    	background-color: #031327;
	}
	.main-container {
    	margin-top: 40px;
	}
	.skip-links .navbar-toggle{
		margin: 0px;
		padding: 0px;
	}
	.skip-link.skip-account{
		display: block;
		width: 50%;
	}
	#menuNavbar ul, #menuNavbar li{
		float: none;
	}
	.dropdown .dropdown-menu{
		width: 100%;
	}
	#header-search {
	    padding: 20px;
	    margin-top: -26px;
	}
	ul.dropdown-menu li a{
		color: #636363;
	}
	.navbar-nav .open .dropdown-menu>li>a {
    	padding: 5px 15px 5px 40px;
	}
	.dropdown>a:focus{
		color: #636363;
	}
	.dropdown a{
		color: #636363;
	}
	.navbar-nav li.dropdown>a{
		padding-top: 5px;
		padding-left: 25px;
	}
	.navbar-nav li.dropdown{
		border-bottom: 1px solid #7e8eaa;
	}
	.skip-links {
	    margin-top: 0;
	}
	.navbar-nav li.responsive-user-header,
	.navbar-nav li.hover-user-header{
		display: none;
	}
	#menuNavbar .navbar-nav, #loginNavbar .navbar-nav{
		margin: 1.5px -15px;
	}
	#header-nav .menu-ul-first{
		left: 20px;
		position: static;
	}
	.page-header-container{
        padding-right: 0;
        padding-left: 0;
    }
	#header-nav .menu-ul-first li{
        margin-right: 0;
    }
    .header-info-rsp, .header-info-rsp a{
    	font-family: "SairaSemiCondensed-Regular", sans-serif;
    	color: #fff;
    	font-size: 14px;
    	text-transform: uppercase;
    	float: right;
    }
    .time-header-rsp{
    	padding-top: 3px;
    	padding-bottom: 3px;
    }
}
@media only screen 
and (min-width: 568px) 
and (max-width: 736px) 
and (orientation: landscape){
	.navbar-nav li.dropdown>a{
		margin-left: 0px;
    	margin-right: 0px;
	}
	.navbar-header .skip-links #menu-btn,
	.navbar-header .skip-links #login-btn{
		height: 50px;
		font-size: 25px;
	}
	.navbar-header .skip-links{
		background-color: #031327;
	}
}
@media only screen and (max-width: 480px){
	.header-container{
		padding: 0px 10px 0px 0px;
	}
	.header-phone{
		height: 21px;
		margin: 0px;
		font-size: 10px;
	}
	.header-phone a{
		font-size: 10px;
	}
	.header-top-time{
		padding: 0px;
	}
	.time-header{
		font-size: 10px;
	}
	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	    background-color: #eee;
	    border-color: #337ab7;
	}
	.icon-nav{
		font-size: 20px;
	}
	.logo-small{
		display:block;
		/* margin-left: 156px; */
	}
	.logo-large{
		display:none;
	}
	.logo-medium{
		display: none;
	}
	#select-language li a span{
		padding-top: 8px;
	}
	.main-container {
    	margin-top: 95px;
	}
	.logo img{
		height: 77px;
	}
	.logo-small {
	    left: 0;
	    /* margin-top:-12px; */
	}
	.logo-small img{
		margin: auto;
	}
	.skip-links {
	    margin-top: 3px;
	}
	.navbar-nav li.dropdown>a{
		margin-left: 10px;
		padding-left: 27px;
	}
	.navbar-header .skip-links #menu-btn,
	.navbar-header .skip-links #login-btn{
		height: 50px;
		font-size: 25px;
	}
	.navbar-header .skip-links{
		background-color: #031327;
	}
	.navbar-nav li.dropdown>a{
		margin-left: 0px;
    	margin-right: 0px;
	}
	.navbar-header a.logo{
		width: 100%;
	}
	.header-info-rsp, .header-info-rsp a{
    	font-size: 10px;
    	line-height: 15px;
    }
    .time-header-rsp {
    	padding-top: 0px;
    	padding-bottom: 0px;
	}
}
