/* Import file css */
@import url("rated_film.css");
@import url("time_out.css");

/*==== Begin input placeholder===*/
/*Edit font-size placeholder */
/*Use all page with input placeholder tags*/
input::placeholder {
    font-size: 12px;
}
::-webkit-input-placeholder { /* Chrome */
  font-size: 12px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
  color: #a0a0a0;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  font-size: 12px;
  color: #a0a0a0;
}
.metiz-btn-class {
    background-color: #7e8eaa;
    color: #ffffff;
    font-weight: bold;
    font-family: 'SairaSemiCondensed-Medium';
} 
.metiz-btn-class:hover {
    background-color: #ff4900;
    color: #ffffff;
}

/*==== End input placeholder===*/
.page-detail {
	background: #fff;
}
.page-detail .page-title{
	padding-top: 40px;
}
.msg-result button{
    position:fixed;
    top:0;
    right:0;
    margin: 10px 15px 0 0;
    width: 300px;
    min-height: 50px;
    padding: 10px;
    text-align: left;
    white-space: normal;
    z-index: 4;
}
.msg-result{
    position:relative;
}
ul.errorlist li, .error{
    font-size: 13px;
    color: red;
}
.content-confirm{
    margin-bottom: 100px;
}
.content-confirm .page-title h1 {
    color: #fff !important;
    font-size: 15px;
    background: none repeat scroll 0 0 #ff5400;
    border-radius: 5px 5px 0 0;
    position: relative;
    top: 2px;
    white-space: nowrap;
    float: left;
    padding: 0px 12px;
    line-height: 40px;
    margin-bottom: 0px;
    border-bottom: none;
}
.content-confirm .page-title{
    float: left;
    width: 100%;
    padding-left: 0;
    margin-bottom: 30px;
}
.load-more{
    width: 140px;
    border-radius: 35px;
    background: #7e8eaa;
    font-family: "SairaSemiCondensed-Bold", sans-serif;
    font-size: 15px;
    border-color: #7e8eaa;
}
.load-more:hover{
    background: #ff5400;
    border: 1px solid #ff5400;
}
.load-more:focus, .load-more:active:focus{
    outline: none;
}
.page-title-timeout{
    width: 100%;
    border-bottom: 2px solid #ff5400;
    padding-top: 60px;

}
.custom-time-out{
    margin-top: 30px;
}
.custom-time-out p{
    color: red;
    text-align: center;
    font-family: "Montserrat-Light", sans-serif;
}
.custom-time-out button{
    float:right;
    cursor:pointer;
    background-color: #7e8eaa;
    color: #fff;
}
.col1-layout .time-out-booking{
    margin: 0px 10px 120px 10px;
}
.customer-account-forgotpassword .page-title{
    text-transform: uppercase;
}
.form-control{
    line-height: 30px;
}
.captcha-error{
    font-family: "Montserrat-Light", sans-serif;
    font-size: 13px;
    color: red;
    font-weight: 500;
}
.custom-time-out a{
    color: #337ab7;
}
.ajax-loader{ 
    position: fixed; 
    right: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    z-index: 99999; 
    opacity: 0.8; 
    display: none;
    background-color: rgb(102, 102, 102, 0.28); 
}
.ajax-loader img{
    margin: 0px auto;
    margin-top: 20%;
}
@media only screen and (max-width: 768px){
    .ajax-loader img{
        margin-top: 60%;
    }
}
@media only screen and (max-width: 736px){
    .main-container{
        margin-top: 0px;
    }
}
@media only screen 
and (min-width: 568px) 
and (max-width: 736px) 
and (orientation: landscape){
    .page-header{
        height: 192px;
    }
    .ajax-loader img{
        margin-top: 40%;
    }
}
@media screen and (max-width: 414px) {
    .page-header{
        height: 143px;
    }
    .load-more{
        width: 150px;
        margin-left: 0;
    }
     .ajax-loader img{
        margin-top: 80%;
    }
}